@import url("http://weloveiconfonts.com/api/?family=fontawesome");
/* entypo */
[class*="fontawesome-"]:before {
  font-family: "fontawesome", sans-serif; }

h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: white;
  position: absolute;
  top: 15%;
  font-size: 6em;
  width: 95%;
  height: 0;
  z-index: 2; }

h2 {
  text-align: center;
  font-size: 4em;
  color: white; }

.jobtitle span {
  color: white;
  position: absolute;
  top: 35%;
  font-size: 2em;
  text-align: center;
  text-align: center;
  width: 95%;
  height: 0; }

/* about me font */
.aboutMe {
  color: black; }

/*contact section */
.con {
  font-family: "Open Sans", sans-serif;
  color: white;
  position: absolute;
  font-size: 6em;
  text-align: center;
  width: 95%;
  z-index: 2;
  margin-top: 25px; }

h3 {
  padding: 10px 0 5px 0;
  font-size: 2em;
  color: white; }

h4 {
  text-align: center;
  font-size: 2.5em;
  color: white; }

.coverpic {
  width: 100%;
  height: 950px; }

/* Nav */
nav {
  /* flip cards */ }
  nav ul {
    list-style-type: none;
    margin: 0;
    position: absolute;
    top: 10px;
    text-align: center;
    z-index: 2;
    margin-top: 2%;
    right: 50px; }
  nav li {
    display: inline;
    padding: 50px;
    text-align: center;
    font-size: 1.5em;
    z-index: 2; }
    nav li a {
      color: white;
      text-decoration: none; }
    nav li a:hover {
      color: orange; }

h5 {
  font-size: 1.5em; }

#week-wrap {
  height: auto;
  max-width: 100%;
  width: auto;
  background-color: #efefef;
  text-align: center;
  padding-bottom: 5%; }

#card, #card2, #card3 {
  text-align: center;
  position: relative;
  display: inline-block;
  max-width: 30%;
  cursor: pointer;
  margin: 1%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-style: solid; }

.back {
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  color: white;
  background-color: #0099cc;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.figcaption {
  text-align: center;
  width: 100%;
  height: 0;
  font-size: 4em;
  line-height: 0;
  color: white;
  position: absolute;
  top: 10%;
  z-index: 1; }

#card img {
  -webkit-display: block;
  display: block;
  max-width: 100%; }

#card2 img, #card3 img {
  display: block;
  max-width: 100%; }

.flip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

/* skill circles */
.skill {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  font-size: 1em;
  color: black;
  line-height: 100px;
  text-align: center;
  border-style: solid;
  border-color: black;
  background: orange;
  margin: 10px 20px 10px 10px;
  display: inline-block; }

.skills {
  height: 650px;
  background-image: url(../img/skillspic.jpg);
  background-size: 100% 800px;
  /* design circles */ }

.design {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  font-size: 1em;
  color: white;
  border-style: solid;
  border-color: white;
  line-height: 100px;
  text-align: center;
  background: #000;
  margin: 10px 20px 10px 10px;
  display: inline-block; }

.portfolio {
  background-color: #202020;
  padding: 20px 5% 2% 5%; }

/*portfolio pics */
.portpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 60%;
  /* portfolio text */ }

span.portText {
  text-align: center;
  font-size: 1.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  margin-bottom: 2%; }

/*portfolio tags */
.tag {
  display: inline-block;
  background: orange;
  color: white;
  padding: 5px 10px;
  margin: 2px;
  font: normal 1em sans-serif;
  border-radius: 10px; }

.tags {
  text-align: center; }

/*portfolio box links */
.box {
  background-color: #202020;
  color: gold;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: solid;
  position: relative;
  margin: 10px; }

.box2 {
  background-color: #202020;
  color: #00FFFF;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: solid;
  position: relative; }

.box:hover, .box2:hover {
  background-color: #00FFFF;
  color: white;
  cursor: pointer; }

.boxes {
  text-align: center;
  padding-bottom: 2%; }

.contact img {
  width: 99%;
  height: 600px;
  position: absolute; }

.namelabel {
  position: absolute;
  text-align: center;
  width: 98%;
  margin-top: 150px;
  font-size: 1.5em;
  color: white;
  font-weight: bold; }

.emaillabel {
  position: absolute;
  text-align: center;
  width: 98%;
  margin-top: 200px;
  font-size: 1.5em;
  color: white;
  font-weight: bold; }

.questionlabel {
  position: absolute;
  text-align: center;
  width: 98%;
  margin-top: 255px;
  font-size: 1.5em;
  color: white;
  font-weight: bold; }

textarea {
  width: 200px;
  height: 100px; }

.sendbtn {
  position: absolute;
  text-align: center;
  margin-top: 15px;
  right: 48%;
  background-color: #202020;
  color: #00FFFF;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: solid; }

.sendbtn:hover {
  cursor: pointer;
  color: white;
  background-color: #00FFFF; }

/*footer */
.bottom {
  margin-top: 450px;
  text-align: center; }

.bottomicon {
  display: inline-block;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 50px;
  font-family: fontawesome;
  font-size: 5em;
  text-align: center;
  color: #bbb;
  border-radius: 70%;
  background: white;
  overflow: hidden;
  transition: color 0.3s; }

.bottomicon:hover {
  cursor: pointer;
  color: lightblue; }

footer {
  background-color: #202020;
  padding-top: 120px;
  /*media queries */ }

@media screen and (max-width: 770px) {
  h1 {
    font-size: 4em; }

  .coverpic {
    height: 600px; }

  h2.con {
    font-size: 3em; }

  .bottomicon {
    margin: 10px;
    width: 70px;
    height: 70px;
    line-height: 70px; }

  h5 {
    font-size: 1em; }

  .figcaption {
    font-size: 2em; }

  #card, #card2, #card3 {
    -webkit-backface-visibility: hidden;
    display: block;
    max-width: 100%; }

  .sendbtn {
    right: 40%; }

  .skills {
    display: none; }

  .contact img {
    width: 95%; }

  .portfolio {
    padding: 0; }

  .portpic {
    height: 300px; } }

/*# sourceMappingURL=stylesheet.css.map */
